/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #f3f5f6;
  font-family: "Outfit", sans-serif;
}

button {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

/* main style  */

.main-title {
  color: #333;
  font-size: 3rem;
  margin: 3rem 0;
  font-weight: 800;
  text-align: center;
}
.question {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.8rem;
  margin: 20px;
}
.question-text {
  margin: 20px;
  padding: 0 1.8rem 0rem 1.8rem;
  font-size: 1.4rem;
  line-height: 20px;
}
/* hide the elements */
.minus-icon {
  display: none;
}
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.show-text .plus-icon {
  display: none;
}
.show-text .minus-icon {
  display: block;
}
@media (min-width: 900px) {
  html {
    font-size: 56.35%;
  }
  .question {
    max-width: 600px;
    margin: 0 auto;

    margin-bottom: 20px;
  }
  .question-text {
    font-size: 1.5rem;
    padding: 0 1.8rem 0rem 1.8rem;
    max-width: 600px;
    margin: 20px auto;
  }
  .title-quesion {
    font-size: 1.6rem;
  }
}
